# OSX
*.DS_Store

# R
.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# bookdown files
*/_book/*
*/_bookdown_files/*

# html files
*.html

# geospatial lesson files
rosm.cache/*

# Session build files
session_*_files/*
*/session_*_files/*
