p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.highlight {
  background-color: #f7e1bc;
  padding: 1em;
}
.exercise {
  background-color: #d8f2e1;
  padding: 1em;
  border: 1px solid #FFFFFF;
}
.setup {
  background-color: #c0caf0;
  padding: 1em;
}
.aside {
  background-color: #bfbdbd;
  padding: 1em;
}