p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.exercise {
  background-color: #1B887E
}
.setup {
  background-color: #19B369
}
.aside {
  background-color: #767171
}